 <div class="form-group">
    <a class="btn btn-success" ui-sref="novoAutor">Novo Autor</a>   
 </div>

 <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Nacionalidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="autor in autores">
                <td>{{autor.id}}</td> 
                <td>{{autor.nome}}</td>                
                <td>{{autor.nacionalidade}}</td>   
                <td>
                    <a class="btn btn-warning btn-xs" ui-sref="editarAutor({id: autor.id})">Editar</a>
                    <a class="btn btn-danger btn-xs" ng-click="delete(autor.id)">Excluir</a>
                    <a class="btn btn-default btn-xs" ui-sref="viewAutor({id: autor.id})">Exibir</a>
                </td>
            </tr>           
        </tbody>
</table>